//Primary colors
$primary: #3769f1;
$base-neutral: #12192c;
$white: #fff;

//Neutral colors
$neutral: #182233;
$neutral-500: #39404f;
$neutral-400: #585e6c;
$neutral-300: #757c86;
$neutral-200: #b2bbbd;
$neutral-100: #d4d6da;
$neutral-50: #dfe1e4;
$neutral-25: #ecedef;

//Blue
$blue: #04257e;
$blue-500: #0e40c7;
$blue-400: #3769f1;
$blue-300: #7b9fff;
$blue-200: #cad8ff;
$blue-100: #eef3ff;

//Green
$green: #337653;
$green-500: #4ea45a;
$green-400: #6dc872;
$green-300: #9de67e;
$green-200: #c9fa98;
$green-100: #f3ffd2;

//Orange
$orange: #9e3012;
$orange-500: #c64e19;
$orange-400: #e97b37;
$orange-300: #f6af45;
$orange-200: #f3c387;
$orange-100: #fdf5ec;

//Red
$red: #9e1421;
$red-500: #c7332a;
$red-400: #e05048;
$red-300: #e97d7a;
$red-200: #efaaa8;
$red-100: #fcf1f2;
